1.  Create Dataframe

In [ ]:
# What is Dataframe?
# It's a structured data constructed with rows and columns, similar to a SQL tables or Excel tables

In [2]:
import pandas as pd

In [5]:
# using Dictionary of Lists
data = {
    "Name": ['Abdullah','Arman','Farhan'],
    "Age": [20,20,18],
    "Marks": [85,88,90]
    
    }


df = pd.DataFrame(data)
print(df)
print(type(df)) # check data type

       Name  Age  Marks
0  Abdullah   20     85
1     Arman   20     88
2    Farhan   18     90
<class 'pandas.core.frame.DataFrame'>

In [4]:
# using lis of lists

data2 = [
    ["Arman",20,90],
    ["Drishti",19,80],
    ["kapil",21,70]
]

df2 = pd.DataFrame(data,columns=["Name","Age","Marks"])
print(df2)

       Name  Age  Marks
0  Abdullah   20     85
1     Arman   20     88
2    Farhan   18     90

In [6]:
# using numpy array
import numpy as np

arr = np.array([[1,2],[3,4],[5,6]])
df3 = pd.DataFrame(arr, columns=["A","B"])
print(df3)

   A  B
0  1  2
1  3  4
2  5  6