4. series

What is a Series?

Series = 1-D labeled array
It is like one column of Excel

In [3]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([85,88,76])
print(s)

0    85
1    88
2    76
dtype: int64

In [12]:
# (A) from List

l = pd.Series([10,20,30])
print(l)
print()

#( B) Custom index
c = pd.Series([30,40,50],index=['a','b','c'])
print(c)
print()

# (C) from Dictionary 
marks = {"ali": 40, "neha": 50, "zoya": 60}
m = pd.Series(marks)
print(m)

0    10
1    20
2    30
dtype: int64

a    30
b    40
c    50
dtype: int64

ali     40
neha    50
zoya    60
dtype: int64

In [15]:
m.index # to get index
m.values # to get values of series
m.dtype #datatype

dtype('int64')

In [ ]:
m['neha'] #Accessing elements by index label

np.int64(50)

In [ ]:
m[0] #accessing elements by index position

/var/folders/r7/f95gykkj207bjlzqqdrkl7d40000gn/T/ipykernel_8371/3599690986.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  m[0]

np.int64(40)

In [22]:
# Multiple
m[0:2]
m[["ali","zoya"]]

ali     40
zoya    60
dtype: int64

In [23]:
# Slicing & filtering
m[m<50]
m[m>50]

zoya    60
dtype: int64

In [ ]:
#  Mathematical operations
# m + 5
# m*2
# m.mean()
# m.max
# m.min()

40

In [ ]:
# Missing values in Series
s = pd.Series([10,20,None,40])
s.isnull()

0     True
1     True
2    False
3     True
dtype: bool

In [31]:
s.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [32]:
s.fillna(0)

0    10.0
1    20.0
2     0.0
3    40.0
dtype: float64

In [33]:
s.dropna()

0    10.0
1    20.0
3    40.0
dtype: float64

In [ ]:
# Useful Series methods
s.head()
s.tail()
s.unique()
s.value_counts()
s.sort_index()
s.sort_values()

0    10.0
1    20.0
3    40.0
2     NaN
dtype: float64

In [45]:
# practice question
# Create Series from dictionary of 5 students marks
students = {
    "Arman": 90,
    "farhan": 88,
    "sadiya": 79
}
s1 = pd.Series(students)
print(s1)

Arman     90
farhan    88
sadiya    79
dtype: int64

In [46]:
# Print only marks > 80
print(s1[s1>80])

Arman     90
farhan    88
dtype: int64

In [48]:
# Add 10 marks to all
updated_s1 = s1 +10
print(updated_s1)

Arman     100
farhan     98
sadiya     89
dtype: int64

In [50]:
updated_s1["rahul"] = np.nan
mean_val = updated_s1.mean()
updated_s1 = updated_s1.fillna(mean_val)
print(updated_s1)

Arman     100.000000
farhan     98.000000
sadiya     89.000000
rahul      95.666667
dtype: float64

In [51]:
# Sort values descending
print(updated_s1.sort_values(ascending=False))

Arman     100.000000
farhan     98.000000
rahul      95.666667
sadiya     89.000000
dtype: float64